/* http://paletton.com/#uid=53v0u0kllllaFw0g0qFqFg0w0aF */

.datacampAd{
		text-align: center;
		width: 275px;
		height: 600px;
		border-style: solid;
    border-color: #000;
		border-width: 1px;
}

div.admonition.note > p.first.admonition-title{
		background:#4146a4;
		color: #33A26D;
}

p.last{
		background:#f4f4f4;
}

div.admonition.note{
		background:#f9f9f9;
		background: radial-gradient(#f2f2f2,#fdfdfd);
}

div.admonition.note::first{
		background:#f9f9f9;
}

div.wy-menu.wy-menu-vertical > div > a{
		display: inline;
		padding:0px;
		font-weight: bold;
		color: #4A9470;
}

div.wy-side-nav-search > a {
		font-weight: bold;
		color: #fff;
}

a:visited {
    color: #4A9470; /* #545994; */
		font-weight: 500;
}

a {
    color: #4A9470;
    text-decoration: none;
    cursor: pointer;
		font-weight: 500;
}

div.wy-menu.wy-menu-vertical{
background-color:#f3f3f3;
color:#000}

.wy-menu-vertical{
		color:#000
}

.wy-menu-vertical a {
    display: inline-block;
    line-height: 18px;
    padding: 0.4045em 1.618em;
    display: block;
    position: relative;
    font-size: 90%;
    color: #000060;
}

.wy-nav-side {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-bottom: 2em;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100%;
    background: #ffffff;
    z-index: 200;
}

.wy-menu-vertical li.current a {
    color: #000060;
}

.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: 0.809em;
    margin-bottom: 0.809em;
    z-index: 200;
    background-color: #191C59;
    text-align: center;
    padding: 0.809em;
    display: block;
    color: #76B295;
    margin-bottom: 0.809em;
}
